<%- include('partials/header') %>
<section class="about">
    <h2 class="name">SMART Metro</h2>
    <p>
        A Machine learning based project aims at providing the metro travellers
        with relevent informaton and commute smartly via metro and save his time
        while travelling.
    </p>
    <div class="row">
        <div class="card">
            <h3>Social Distancing</h3>
            <br />
            <img src="assets/social-distance.png" alt="Social Distance" />
            <p>
                Since we know sometimes how a particular station gets packed and
                overcrowded. Hence we have to wait for the next metro or even
                metro's to come and then move to our destination but now our
                project will tell you to go to a particular station depending on
                the crowds in the other stations.
            </p>
        </div>
        <div class="card">
            <h3>Save Time</h3>
            <br />
            <img src="assets/save-time.png" alt="Save Time" />

            <p>
                Each station is connected to the other station by not just one
                but by multiple paths. Since we know that the capital runs
                various metro lines namely yellow, pink, magenta etc. Our
                project will also tell you the best optimal path to reach your
                destination station from your source station, thereby saving the
                individual's time.
            </p>
        </div>
    </div>
    <hr>
    <div class="team">
        <h2>Team Members</h2>
        <li>Nishit Sharma</li>
        <li>Shubham Mehra</li>
        <li>Soham Chaudhuri</li>
        <li>Saksham Mahajan</li>
    </div>
</section>
<%- include('partials/footer') %>