<%- include('partials/header') %>
    <script src="/scripts/submit.js" defer></script>
    <section class="home">
        <section class="hero">
            Catch Phrase or Something
        </section>
        <form>
            <select required name="start" id="start">
                <option value="" hidden>Source</option>
                <option value="ab">ab</option>
                <option value="ab">cd</option>
                <option value="ab">ab</option>
                <option value="ab">ab</option>
                <option value="ab">ab</option>
            </select>
            <select required name="end" id="end">
                <option value="" hidden>Destination</option>
                <option value="ab">ab</option>
                <option value="ab">ab</option>
                <option value="ab">cd</option>
                <option value="ab">ab</option>
                <option value="ab">ab</option>
            </select>
            <button id="submit" type="button" class="btn">Find Route</button>
        </form>
        <section id="respath"></section>
    </section>
    <%- include('partials/footer') %>