<%- include('partials/header') %>
    <section class="map">
    <img src="https://raw.githubusercontent.com/HNGP/Tranzit/main/views/images/map.png" style="margin: 0 auto;" width="1000" alt="">

    </section>
    <%- include('partials/footer') %>