* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font: normal 16px sans-serif;
}

body {
    background-color: aliceblue;
    line-height: 1.5;
    color: #212529;
}

ul {
    list-style: none;
}

a {
    opacity: 0.8;
    color: #212529;
    text-decoration: none;
    &:hover {
        opacity: 1;
        text-decoration: underline;
    }
}
a:focus {
    opacity: 1;
    text-decoration: underline;
    outline: none;
    font-weight: 700;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    animation: 0.6s fadein 0.3s forwards;
    box-shadow: 0 2px 10px rgba(163, 177, 198, 0.6);
    opacity: 0;
    backdrop-filter: blur(20px);
    h1 {
        font-family: "Quicksand", sans-serif;
    }
    nav {
        display: flex;
        margin-right: 1em;
        a {
            font-size: larger;
            padding: 0 3rem;
        }
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

section.home,
.about,
.map {
    margin-top: 10rem;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 0.6s slide-in 0.3s ease-in forwards;
}
@keyframes slide-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 12rem;
    }
}

form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    background-color: lightgray;
    width: 100%;
    display: block;
    outline: none;
    padding: 0.7rem 1rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    font-size: larger;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
        -9px -9px 16px rgba(255, 255, 255, 0.5);
    &:focus {
        background-color: rgba(235, 235, 235, 0.8);
    }
}
.btn {
    display: flex;
    cursor: pointer;
    margin: 1rem auto;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    border-radius: 10rem;
    font-size: larger;
    border: none;
    background-color: #e0e5ec;
    transition: box-shadow 0.5s ease-out;

    svg {
        display: none;
        margin-right: 10px;
    }
    &:hover {
        background-color: #e0e5ec;
        box-shadow: 4px 4px 10px rgba(163, 177, 198, 0.6),
            -4px -4px 10px rgba(255, 255, 255, 0.5);
    }
    &:focus {
        outline: none;
        box-shadow: 4px 4px 10px rgba(163, 177, 198, 0.6),
            -4px -4px 10px rgba(255, 255, 255, 0.5);
    }
}

.about {
    text-align: center;
    .name {
        font-size: 4rem;
    }
    .row {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 80%;

        justify-content: center;
        align-items: center;
        .card {
            box-shadow: 4px 4px 16px rgba(163, 177, 198, 0.5),
                -4px -4px 16px rgba(255, 255, 255, 0.4);
            margin: 0.1rem 1rem;
            padding: 1rem 0.5rem;
            text-align: center;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    hr {
        margin: 0.5rem 0;
        width: 75%;
    }
    .team {
        text-align: center;
        list-style: none;
        li {
            cursor: pointer;
        }
        li:hover {
            color: blueviolet;
            transform: scale(1.05);
            font-weight: 600;
        }
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header h1 {
        margin-bottom: 1.5rem;
    }
    form {
        width: 50vw;
    }
    .row {
        flex-direction: column;
    }
    .about .name {
        font-size: xx-large;
    }
}
@media (max-width: 1100px) {
    form {
        width: 40vw;
    }
}

@media (max-width: 500px) {
    form {
        width: 70vw;
    }
}

.station {
    padding: 0.5rem;
}

.tablink {
    display: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    margin: 0.5rem 1rem;
    font-size: larger;
    border: none;
    background-color: #777;
    color: white;
    outline: none;
    cursor: pointer;
}

.tablink:hover, .tablink:focus {
    background-color: rgb(104, 103, 103);
}
.tabcontent {
    display: none;
    padding: 2rem 1rem;
}

#crowd {
    font-size: xx-large;
}